body {
  width: 85%;
  margin: auto;
}
.title {
  font-weight: bolder;
  font-size: larger;
}
.alert {
  position: fixed;
  width: 80%;
  transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
   opacity: 1;
}

